{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="container">
        <div class="table-responsive">
            <table class="table Table-borderless table-hover">
                <thead class="table-dark">
                    <tr>
                        <th class="text-start">Symbol</th>
                        <th class="text-start">Name</th>
                        <th class="text-end">Shares</th>
                        <th class="text-end">Price</th>
                        <th class="text-end">Total</th>
                        <th class="text-end">Transaction Date</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for transaction in transactions %}
                        {% if transaction.type == 'b' %}
                            <tr class="table-success">
                        {% elif transaction.type == 's' %}
                            <tr class="table-danger">

                        {% endif %}
                        <td class="text-start">{{ transaction.symbol }}</td>
                        <td class="text-start">{{ transaction.name }}</td>
                        <td class="text-end">
                            {% if transaction.type == 's' %}
                                -{{ transaction.shares }}
                            {% else %}
                                {{ transaction.shares }}
                            {% endif %}
                        </td>
                        <td class="text-end">${{ transaction.price }}</td>
                        <td class="text-end">
                            {% if transaction.type == 's' %}
                                +${{ '%.2f'|format(transaction.total) }}
                            {% else %}
                                -${{ '%.2f'|format(transaction.total) }}
                            {% endif %}
                        </td>
                        <td class="text-end">{{ transaction.timestamp }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
