{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-white bg-dark border-light shadow">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                    class="card-img-top" alt="Default Image">
                <div class="card-header">User: {{ username }}</div>
                <div class="card-body">
                    <div class="card-footer">Cash: {{ cash_flow }}</div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary mt-3" data-bs-toggle="modal"
                                data-bs-target="#addCashModal">Add
                                more cash</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary mt-3" data-bs-toggle="modal"
                                data-bs-target="#changePasswordModal">Change Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add more cash modal -->
<form action="/profile" method="post" value="Update Money">
    <div class="modal fade" id="addCashModal" tabindex="-1" role="dialog" aria-labelledby="addCashModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCashModalLabel">Add More Cash</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add your input field and form elements here -->
                    <label for="cashAmount">Enter cash amount:</label>
                    <input type="number" class="form-control" id="cashAmount">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger text-white" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Cash</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Change password modal -->
<form action="/profile" method="post" value="Change Password">
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog"
        aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Password input and labels -->
                    <label for="password">Please insert new password</label>
                    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="New password"
                        type="password"></input>
                    <label for="password" id="Consideration"></label> <label for="password" id="Note"></label>
                    <br>
                    <button for="password" class="btn btn-primary" id="togglePasswordBtn" type="button">Show
                        Password</button>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancel_password" class="btn btn-danger text-white"
                        data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </div>
        </div>
        <script src="../static/scripts.js"></script>
        <script>
            // Add an event listener to the password input field
            document.getElementById('password').addEventListener('input', validatePassword);
            // Add an event listener to the show password button
            document.getElementById('togglePasswordBtn').addEventListener('click', togglePasswordVisibility);
            // Add an event listener to the restar password input
            document.getElementById('cancel_password').addEventListener('click', function() {
                document.querySelector('#password').value = '';
                document.querySelector('#Consideration').innerHTML = '';
                document.querySelector('#Note').innerHTML = '';
            });
        </script>
    </div>
</form>
{% endblock %}
