{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-light shadow">
                    <div class="card-header">You Quoted: {{ dic_symbol.symbol }} </div>
                    <div class="card-body">
                        <h5 class="card-title">A share of {{ dic_symbol.name }} ({{ dic_symbol.symbol }})</h5>
                        <p class="card-text">Costs ${{ dic_symbol.price }}</p>
                        <a href="/quote">
                            <button class="btn btn-primary mt-3">Make another quote</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p class="card-text">CS50 Check here: Costs ${{ dic_symbol.price }}</p>
    </div>
{% endblock %}
