{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div class="container">
        <form>
            <label for="symbol" class="form-label">Password</label>
            <input type="text" id="symbol" class="form-control" aria-describedby="symbolHelpBlock">
            <div id="symbolHelpBlock" class="form-text">
              Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
            </div>
        </form>
    </div>
{% endblock %}

