{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<form action="/register" method="post">
    <div class="mb-3">
        <label for="username">Please insert username</label>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
            placeholder="Username" type="text">
    </div>
    </br>
    <div class="mb-3">
        <label for="password">Please insert password</label>
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <label for="confirmation">Please confirm password</label>
        <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password"
            type="password">
    </div>
    <label id="Consideration" class="validate_password"></label> <label id="Note" class="validate_password"></label>
    </br></br>
    <button class="btn btn-primary" type="submit">Register</button>
    <script src="../static/scripts.js"></script>
    <script>
        // Add an event listener to the password input field
        document.getElementById('password').addEventListener('input', validatePassword);
    </script>
</form>
{% endblock %}
