#TitleDB {
    font-size: calc(18px + 2.5vw) !important;
    font-family: 'BunnyHopper'!important;
    color: #000000;
}

/* For small screens (phones) */
@media (max-width: 767px) {
    #TitleDB {
        font-size: calc(20px + 4vw) !important;  /* Adjust font size for smaller screens */
    }
}

.divider {
    border-top: 1px solid #000; /* Change color as needed */
    width: 100%;
  }

  .card {
    text-align: center;
    opacity: 0.8;
    padding-top: 10px;
  }

  .card-body {
    margin-bottom: 15px;
  }

  .card-body hr {
    margin: 15px 0;
  }

  .btn-link {
    color: #007bff;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  .btn-link:hover {
    text-decoration: underline;
  }

  .card-footer {
    text-align: left;
  }
