#TitleDB {
    font-size: calc(18px + 2vw) !important;
    font-family: 'BunnyHopper'!important;
    color: #000000;
}

.divider {
    border-top: 1px solid #000; /* Change color as needed */
    width: 100%;
  }
