.card-img {
    position: relative;
    opacity: 0.5;
}

.blockquote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    background-color: rgba(255, 255, 255, 0.5);
}

#quote {
    font-family: 'BunnyHopper';
    color: #000000;
    font-size: 200%;
    margin: 0;
}

#author {
    font-family: 'BunnyHopperEar';
    color: #000000;
    font-size: 200%;
    margin: 0;
}

.blockquote-footer {
    font-family: 'BunnyHopperEar';
    color: #000000 !important;
    font-size: 200%;
    margin: 0;
}

