.card-img {
  /*   position: relative; */
    opacity: 0.5;
   /*  object-fit: cover; /*cover or 'contain' depending on your needs */ */
    width: 100%;
    height: auto;
}

.blockquote {
/*     position: absolute;
    padding: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.card {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.70;
/*     box-sizing: border-box;
    overflow: hidden;
    max-width: 90%;
    margin: auto; */
}

#quote {
    font-family: 'BunnyHopper';
    color: #000000;
/*     margin: 0;
    box-sizing: border-box; */
}

#author {
    font-family: 'BunnyHopper';
    color: #000000;
/*     margin: 0;
    box-sizing: border-box; */
}

.blockquote-footer {
    font-family: 'BunnyHopper';
    color: #000000 !important;
    font-size: 4vw !important;
/*     margin: 0;
    box-sizing: border-box; */
}

/* For small screens (phones) */
@media (max-width: 767px) {
    #quote, #author, .blockquote-footer, #TitleDB {
        font-size:  7vw;  /* Adjust font size for smaller screens */
    }
}

/* For medium and large screens (tablets and desktops) */
@media (min-width: 768px) {
    #quote, #author, .blockquote-footer, #TitleDB {
        font-size: 4vw;  /* Default font size for medium and large screens */
    }
}

.CapitalTitle {
    font-size: 3vw !important;
    font-family: 'BunnyHopperEar' !important;
    font: bold;
    color: #000000;
}

#TitleDB {
    font-size: 3vw !important;
    font-family: 'BunnyHopper'!important;
    color: #000000;
}


