.card-img {
    position: relative;
    opacity: 0.5;
    object-fit: cover; /*cover or 'contain' depending on your needs */
    width: 100%;
    height: 100%;
}

.blockquote {
    position: absolute;
    padding: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    overflow: hidden;
}

#quote {
    font-family: 'BunnyHopper';
    color: #000000;
    font-size: 200%;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

#author {
    font-family: 'BunnyHopperEar';
    color: #000000;
    font-size: 200%;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

.blockquote-footer {
    font-family: 'BunnyHopperEar';
    color: #000000 !important;
    font-size: 200%;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

/* For small screens (phones) */
@media (max-width: 767px) {
    #quote, #author, .blockquote-footer {
        font-size: 150%; /* Adjust font size for smaller screens */
    }
}

/* For medium and large screens (tablets and desktops) */
@media (min-width: 768px) {
    #quote, #author, .blockquote-footer {
        font-size: 200%; /* Default font size for medium and large screens */
    }
}
