footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

#imgFooter {
    width: 10%;
    height: auto;
}

#Footer {
    font-family: 'HannieBunny' !important;
    font-weight: 150%;
    color: #000000;
    font-size: 150% !important;
    margin: 0;
}

#Author {
    font-family: 'BunnyHopperEar' !important;
    font-weight: 150%;
    color: #000000;
    font-size: 100% !important;
    text-align: center;
    margin: 0;
}

.social_media img{
    width: 20px; /* adjust as needed */
    height: auto;
}
