.navbar-brand
{
        font-family: "Slackside One", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 50px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
}
