@font-face {
    font-family: 'Slackside One Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Slackside One Regular'), url('/fonts/SlacksideOne-Regular.woff') format('woff');
}

@font-face {
    font-family: 'QuickAsABunny';
    font-style: normal;
    font-weight: normal;
    src: local('QuickAsABunny'), url('/fonts/QuickAsABunny.ttf') format('truetype');
}

@font-face {
    font-family: 'BunnyStory';
    font-style: normal;
    font-weight: normal;
    src: local('BunnyStory'), url('/fonts/BunnyStory.ttf') format('truetype');
}


@font-face {
    font-family: 'Bunny';
    font-style: normal;
    font-weight: normal;
    src: local('Bunny'), url('/fonts/Bunny.otf') format('opentype');
}

.container {
    align-items: center;
}

h1 {
    font-family: 'Bunny' !important;
    font-weight: 400;
    color: #000000;
    font-size: 300% !important;
    margin: 0;
}

.navbar-brand {
    font-family: 'Bunny', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 50px !important;
    margin: 0;
    float: none;
}

.nav-item {
    font-family: 'Bunny', sans-serif;
    font-size: 120% !important;
}
