@font-face {
    font-family: 'Slackside One Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Slackside One Regular'), url('SlacksideOne-Regular.woff') format('woff');
    }

h1 {
    font-family: 'Slackside One Regular'!important;
    font-weight: 400;
    color: #000000;
    font-size: 300% !important;
    margin: 0;
    line-height: 0;
}

.navbar-brand{
        font-family: 'Slackside One Regular';
        font-weight: 400;
        color: #000000;
        font-size: 50px !important;
        margin: 0;
        float: none;
}
