.home-page {
  background-color: #883d3d;
  display: flex;
  justify-content: center;
}

.home-page .head-wrapper {
  width: 100%; /* Adjust width as needed */
}

.head {
  width: 100%; /* Take the full width of its container */
  height: auto; /* Maintain aspect ratio */
  display: block;
}
